.search-form{
    width: 40vw;
    margin: auto;
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    background-color: var(--white-color);
    box-shadow: 2px 5px 3px 0px var(--box-shadow-color);
    margin-bottom: 2rem;
}

.search-form__label{
    display: block;
    margin-bottom: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.search-form__input{
    width: 100%;
    border: transparent;
    background: #f1f5f8;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
